@import "base";
.header{
    width: 100%;
    height: 1rem;
    background:#2BA6DC;
    .circle{
        width: 0.44rem;
        height: 0.44rem;
        border:0.02rem solid #076CBE;
        border-radius:50%;
        background:#fff url($img-url+'left.jpg') no-repeat;
        background-size:auto 0.17rem;
        background-position:0.15rem 0.12rem;
        @include tb;
        left:0.25rem;  
    }
    .circle1{
        width: 0.44rem;
        height: 0.44rem;
        border:0.02rem solid #076CBE;
        border-radius:50%;
        background:#fff;
        @include tb;
        right:0.25rem;  
        .search{
            @include center;
            width: 0.25rem;
            height: 0.22rem;
            background:#fff url($img-url+'search.png') no-repeat;
            background-size:cover;
        }
    }
    .title{
        text-align:center;
        h1{
            font-size:0.33rem;
            color:#fff;
            line-height:0.58rem;
        }
        .line{
            width:0.34rem;
            border-top:0.01rem solid #fff;
            position:absolute;
            bottom:0.40rem;
            left:3.57rem;
        }
        .line:before,.line:after{
            content:'';
            display:block;
            width: 0.03rem;
            height: 0.03rem;
            background:#fff;
            border-radius:50%;
            position:absolute;
            top:-0.01rem;
        }
        .line:before{
            left:0;
        }
        .line:after{
            right:0;
        }
        span{
            text-transform:uppercase;
            font-size:0.13rem;
            color:#A3E3FF;
        }
    }
}

.back{
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    background: #F2F2F2;
}
.top{
    height: 1rem;
    width: 100%;
    .top-content{
        @include center;
        width: 5.75rem;
        height: 0.84rem;
        border-radius: 0.42rem;
        background: #293340;
        padding-left: 1px;
        .top-lis{
            width: 33.33333%;
            float: left;
            height: 100%;
            .cir{
                @include center;
                width:1.65rem;
                height: 0.7rem;
                h1{
                    @include lr;
                    text-align: center;
                    font-size: 0.24rem;
                    color: #FFFFFF;
                    margin-top:0.13rem;
                }
                span{
                    @include lr;
                    color: #FFFFFF;
                    font-size: 0.14rem;
                    font-weight: 200;
                    text-align: center;
                    text-transform: uppercase;
                    bottom: 0;
                }
            } 
        }
         li:nth-child(3) .cir{
                    background: url($img-url+"bg2.png");
                    background-size: cover; 
                }
        .top-xian1{
            height:0.57rem;
            width: 1px;
            position: relative;
            float: left;
            background: #C4C4C4;
            @include tb;
            left:33%;
            .cir1{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top:-2px;
                left:-1px;
                background: #EFEFEF;
            }
            .cir2{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                bottom:-2px;
                left:-1px;
                background: #EFEFEF;
            }
        }
        .top-xian2{
            height:0.57rem;
            width: 1px;
            position: relative;
            float: left;
            background: #C4C4C4;
            @include tb;
            right:33%;
            .cir1{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top:-2px;
                left:-1px;
                background: #EFEFEF;
            }
            .cir2{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                bottom:-2px;
                left:-1px;
                background: #EFEFEF;
            }
        }
    }
}
.zhou-lis{
    width: 100%;
    height: 3.7rem;
    background: #FFFFFF;
    border-radius: 0.1rem;
    margin-top: 0.05rem ;
    margin-bottom: 0.15rem ;
    .zhou-content{
        width: 7rem;
        height: 100%;
        margin: 0 auto;
        margin-right: 0.3rem;
        .zhou-pic{
            position: relative;
            width: 2.5rem;
            height: 100%;
            float: left;
            li{
                @include tb;
                width: 2.5rem;
                height: 3.5rem;
                background: url($img-url+"zhuang.png");
                background-size: cover;
            } 
        }
    }
    .zhou-text{
        width: 4.2rem;
        height: 100%;
        float: right;
        position: relative;
        .title{
            margin-top: 0.25rem;
            font-size: 0.28rem;
            color: #333333;
        }
        .Eg{
            font-size: 0.16rem;
            color: #999999;
            padding-left: 0.15rem;
        }
        .con{
            width: 3.85rem;
            font-size: 0.22rem;
            color: #666666;
            padding-left: 0.15rem;
            line-height:0.29rem;
        }
        .author{
            margin-top: 0.2rem;
            h1{
                font-size: 0.2rem;
                color: #666666;
                padding-left: 0.15rem;
                font-weight: 300;
                line-height: 0.26rem;
            }
        }
        .xing{
            width: 1.3rem;
            height: 0.23rem;
            margin-left: 0.15rem;
            margin-top: 0.2rem;
            background: url($img-url+"xing.png");
            background-size: cover;
        }
        .move{
            width: 2rem;
            height: 0.59rem;
            position: absolute;
            overflow: hidden;
            right: 0;
            bottom: 0.4rem;
            a{
                display: block;
                width: 2rem;
                height: 0.59rem;
                background: url($img-url+"bg-5.png");
                background-size: cover;
                font-size: 0.18rem;
                color: #FFFFFF;
                padding-left: 0.59rem;
                line-height: 0.59rem;
            }
            
        }
    }
}
