@import 'base';
 img{
     vertical-align: middle;
 }
 body{
     background: #FAFAFA;
 }
 ul,li{
     list-style: none;
 }
 a{
    text-decoration: none;
}
 .icon{
    font-family: 'iconfont'!important;
}

//头部
 .head{
     
     width: 100%;
     height: 1.1rem;
     background: #2BA6DC;
     padding-left: 0.25rem;
     padding-right: 0.25rem;
     padding-top: 0.2rem;
     text-align: center;
     .z{
         display: block;
         position: absolute;
         top:0;
         bottom: 0;
         left: 0.5rem;
         margin: auto;
          z-index: 33;
     }
     .shezhi{
         position: absolute;
         top:0;
         bottom: 0;
//       left: 0.5rem;
         margin: auto;
         
     }
     .china{
         font-size: 0.36rem;
         color: #fff;
         
     }
     .english{
         font-size: 0.18rem;
         color: #fff;
         margin-top: 0.05rem;
     }
 }
 
.xian{
    width: 98%;
    @include lr;
    border: 2px solid #D5D5D5;
    border-radius:2px ;
    margin-top: 0.2rem;
}
.text{
    width: 7.1rem;
    height: 5.7rem;
    border: 2px solid #EBEBEB;
    @include lr;
    margin-top: 0.24rem;
    border-radius:5px ;
    background: #fff;
     .china{
            color: #3D3D3D;
            font-size:0.25rem;
            text-align: center;
            padding-top: 0.15rem;
        }
        .english{
            color: #8E8E8E;
            font-size:0.125rem;
            text-align: center;
        }
        pre{
            margin-top: 0.2rem;
            color: #8E8E8E;
             font-size:0.2rem;
             line-height: 1.5;
        }
    }
























