@charset "UTF-8";
html {
  font-size: 100px; }

body {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  box-sizing: border-box; }

img {
  border: none; }

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
img {
  vertical-align: middle; }

body {
  background: #FAFAFA; }

ul, li {
  list-style: none; }

.icon {
  font-family: "iconfont" !important; }

a {
  text-decoration: none; }

.head {
  width: 100%;
  height: 1.1rem;
  background: #2BA6DC;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.2rem;
  text-align: center; }
  .head .z {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.25rem;
    margin: auto;
    z-index: 33; }
    .head .z .shezhi {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -0.25rem;
      margin: auto;
      transform: scale(0.5); }
  .head .y {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.25rem;
    margin: auto;
    z-index: 33; }
  .head .xiaoxi {
    transform: scale(0.5); }
  .head .china {
    font-size: 0.36rem;
    color: #fff; }
  .head .english {
    font-size: 0.18rem;
    color: #fff;
    margin-top: 0.05rem; }

.touxiang {
  width: 100%;
  height: 1.9rem; }
  .touxiang a {
    display: block;
    width: 100%;
    height: 1.9rem;
    margin-top: 0.7rem; }
  .touxiang img {
    transform: scale(0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

.name {
  margin-top: 0.3rem;
  font-size: 0.32rem;
  text-align: center;
  color: #3D3D3D; }

.qianming {
  font-size: 0.2rem;
  text-align: center;
  color: #3D3D3D;
  margin-top: 0.1rem; }

.ul {
  width: 100%;
  height: 3.7rem; }

.U {
  width: 7.1rem;
  height: 3.7rem;
  border: 2px solid #EBEBEB;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0.3rem;
  background: #fff; }
  .U .L {
    width: 100%;
    height: 25%;
    border-bottom: 1px dashed #C5C5C5; }
    .U .L a {
      display: block; }
      .U .L a img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.08rem;
        margin: auto;
        transform: scale(0.5); }
      .U .L a .s-y {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0.1rem;
        margin: auto;
        font-size: 0.25rem;
        color: #3D3D3D;
        line-height: 0.925rem; }
        .U .L a .s-y .icon {
          color: #AEDDF1; }
      .U .L a .china {
        color: #3D3D3D;
        font-size: 0.25rem;
        padding-left: 0.8rem;
        padding-top: 0.15rem; }
      .U .L a .english {
        color: #3D3D3D;
        font-size: 0.125rem;
        padding-left: 0.8rem; }
    .U .L .l-box img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0.08rem;
      margin: auto;
      transform: scale(0.5); }
    .U .L .l-box .s-y {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0.1rem;
      margin: auto;
      font-size: 0.25rem;
      color: #3D3D3D;
      line-height: 0.925rem; }
      .U .L .l-box .s-y .icon {
        color: #AEDDF1; }
    .U .L .l-box .china {
      color: #3D3D3D;
      font-size: 0.25rem;
      padding-left: 0.8rem;
      padding-top: 0.15rem; }
    .U .L .l-box .english {
      color: #3D3D3D;
      font-size: 0.125rem;
      padding-left: 0.8rem; }
  .U .last {
    border: 0; }

.foot {
  width: 100%;
  height: 1.1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #151C2B; }
  .foot .LL {
    width: 33.3%;
    height: 100%;
    border: 0;
    border-right: 1px solid #515357;
    color: #626366;
    font-size: 0.25rem;
    float: left;
    text-align: center;
    padding-top: 0.08rem;
    cursor: pointer; }
    .foot .LL .icon {
      font-size: 0.5rem; }
  .foot .last {
    border: 0;
    color: #F3F3F5; }

.box {
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s;
  transform: scale(0); }
  .box .tishi {
    width: 4.8rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 0.2rem; }
    .box .tishi .top {
      width: 100%;
      height: 25%;
      border-top-left-radius: 0.2rem;
      border-top-right-radius: 0.2rem;
      background: #27D4B5; }
      .box .tishi .top img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.6rem;
        margin: auto; }
      .box .tishi .top .china {
        color: #E9FBF7;
        font-size: 0.25rem;
        padding-left: 1.2rem;
        padding-top: 0.15rem; }
      .box .tishi .top .english {
        color: #E9FBF7;
        font-size: 0.125rem;
        padding-left: 1.2rem; }
    .box .tishi .bottom {
      width: 100%;
      height: 75%; }
      .box .tishi .bottom .china {
        color: #3D3D3D;
        font-size: 0.25rem;
        padding-top: 0.3rem;
        text-align: center; }
      .box .tishi .bottom .english {
        color: #8E8E8E;
        font-size: 0.125rem;
        text-align: center;
        padding-top: 0.1rem; }
      .box .tishi .bottom .zi {
        color: #8E8E8E;
        font-size: 0.125rem;
        padding-top: 0.1rem;
        text-align: center; }

.xian1 {
  transform: scale(1);
  z-index: 10000; }
