 @import 'base';
 img{
     vertical-align: middle;
 }
 body{
     background: #FAFAFA;
 }
 ul,li{
     list-style: none;
 }
 .icon{
    font-family: 'iconfont'!important;
}
a{
    text-decoration: none;
}

//头部
 .head{
     
     width: 100%;
     height: 1.1rem;
     background: #2BA6DC;
     padding-left: 0.25rem;
     padding-right: 0.25rem;
     padding-top: 0.2rem;
     text-align: center;
     .z{
         display: block;
         position: absolute;
         top:0;
         bottom: 0;
         left: 0.25rem;
         margin: auto;
          z-index: 33;
          .shezhi{
                 position: absolute;
                 top:0;
                 bottom: 0;
                 left: -0.25rem;
                 margin: auto;
                 transform: scale(0.5);
             }
     }
     
     .y{
          display: block;
         position: absolute;
         top:0;
         bottom: 0;
         right: 0.25rem;
         margin: auto;  
          z-index: 33;
     }
     .xiaoxi {
//       position: absolute;
//       top:0;
//       bottom: 0;
//       right: 0.25rem;
//       margin: auto;
         transform: scale(0.5);
     }
     .china{
         font-size: 0.36rem;
         color: #fff;
         
     }
     .english{
         font-size: 0.18rem;
         color: #fff;
         margin-top: 0.05rem;
     }
 }
 
 
 
   .touxiang{
       a{
           display: block;
           width: 100%;
           height: 1.9rem;
           margin-top: 0.7rem;
       }
       width: 100%;
       height: 1.9rem;
//     margin-top: 0.7rem;
       img{
           transform: scale(0.5);
           @include center;
            
       }
      
   }
    .name{
        margin-top: 0.3rem;
       font-size: 0.32rem;
       text-align: center;
       color: #3D3D3D; 
    }
    .qianming{
       font-size: 0.2rem;
       text-align: center;
       color: #3D3D3D; 
       margin-top: 0.1rem;
    }
.ul{
     width: 100%;
     height: 3.7rem;
}
    .U{
        width: 7.1rem;
        height: 3.7rem;
        border: 2px solid #EBEBEB;
        @include lr;
        margin-top: 0.3rem;
        background: #fff;
        .L{
            width: 100%;
            height: 25%;
            border-bottom: 1px dashed #C5C5C5;
            a{
                display: block;
                img{
                    position: absolute;
                     top:0;
                     bottom: 0;
                     left: 0.08rem;
                     margin: auto;
                     transform: scale(0.5);
                }
                .s-y{
                     position: absolute;
                     top:0;
                     bottom: 0;
                     right: 0.1rem;
                     margin: auto;
                     font-size: 0.25rem;
                     color: #3D3D3D;
                     line-height: 0.925rem;
                     .icon{
                         color: #AEDDF1;
                     }
                }
                .china{
                    color: #3D3D3D;
                    font-size:0.25rem;
                    padding-left: 0.8rem;
                    padding-top: 0.15rem;
                }
                .english{
                    color: #3D3D3D;
                    font-size:0.125rem;
                    padding-left: 0.8rem;
                }
            }
        }
       .last{
            border: 0;
        }
    }
  .foot{
      width: 100%;
      height: 1.1rem;
      position: fixed;
      left: 0;
      bottom: 0;
      background: #151C2B;
      .LL{
          width: 33.3%;
          height: 100%;
          border: 0;
          border-right: 1px solid #515357;
          color: #626366;
          font-size: 0.25rem;
          float: left;
          text-align: center;
          padding-top: 0.08rem;
          cursor: pointer;
          .icon{
              font-size: 0.5rem
          }
      }
      .last{
          border: 0;
          color: #F3F3F5;
      }
  }

.box{
    width: 100%;
    height: 100%;
    background: rgba(3,3,3,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.5s;
    transform: scale(0);
    .tishi{
        width: 4.8rem;
        height: 3rem;
        @include center;
        background: #fff;
        border-radius:0.2rem ;
        .top{
            width: 100%;
            height: 25%;
            border-top-left-radius:0.2rem ;
            border-top-right-radius:0.2rem ;
            background: #27D4B5;
            img{
                 position: absolute;
                 top:0;
                 bottom: 0;
                 left: 0.6rem;
                 margin: auto;
            }
            .china{
                color: #E9FBF7;
                font-size:0.25rem;
                padding-left: 1.2rem;
                padding-top: 0.15rem;
            }
            .english{
                color: #E9FBF7;
                font-size:0.125rem;
                padding-left: 1.2rem;
            }
        }
        .bottom{
             width: 100%;
             height: 75%;
             .china{
                color: #3D3D3D;
                font-size:0.25rem;
                padding-top: 0.3rem;
                text-align: center;
            }
            .english{
                color: #8E8E8E;
                font-size:0.125rem;
                text-align: center;
                padding-top: 0.1rem;
            }
            .zi{
                 color: #8E8E8E;
                font-size:0.125rem;
                padding-top: 0.1rem;
                text-align: center;
            }
        }
    }
}
.xian1{
    transform: scale(1);
    z-index: 10000;
}












