 @import 'base';
 img{
     vertical-align: middle;
 }
 body{
     background: #FAFAFA;
 }
 ul,li{
     list-style: none;
 }
 a{
    text-decoration: none;
}
 .icon{
    font-family: 'iconfont'!important;
}


//头部
 .head{
     
     width: 100%;
     height: 1.1rem;
     background: #2BA6DC;
     padding-left: 0.25rem;
     padding-right: 0.25rem;
     padding-top: 0.2rem;
     text-align: center;
       .z{
         display: block;
         position: absolute;
         top:0;
         bottom: 0;
         left: 0.25rem;
         margin: auto;
          z-index: 33;
     }
     .shezhi{
//       position: absolute;
//       top:0;
//       bottom: 0;
//       left: 0.25rem;
//       margin: auto;
         transform: scale(0.5);
     }
     .y{
          display: block;
         position: absolute;
         top:0;
         bottom: 0;
         right: 0.25rem;
         margin: auto;  
          z-index: 33;
     }
     .xiaoxi {
//       position: absolute;
//       top:0;
//       bottom: 0;
//       right: 0.25rem;
//       margin: auto;
         transform: scale(0.5);
     }
     .china{
         font-size: 0.36rem;
         color: #fff;
         
     }
     .english{
         font-size: 0.18rem;
         color: #fff;
         margin-top: 0.05rem;
     }
 }
 .ul{
     width: 100%;
     height: 3.7rem;
}
    .lis{
        width: 7.1rem;
        height: 3.7rem;
        border: 2px solid #EBEBEB;
        @include lr;
        margin-top: 0.3rem;
        border-radius: 5px;
        background: #fff;
        .ll{
            width: 100%;
            height: 25%;
            border-bottom: 1px dashed #C5C5C5;
            img{
                position: absolute;
                 top:0;
                 bottom: 0;
                 left: 0.08rem;
                 margin: auto;
                 transform: scale(0.5);
            }
            .s-y{
                 position: absolute;
                 top:0;
                 bottom: 0;
                 right: 0.1rem;
                 margin: auto;
                 font-size: 0.25rem;
                 color: #3D3D3D;
                 line-height: 0.925rem;
                 .icon{
                     color: #AEDDF1;
                 }
                 
            }
            .s-y1{
                padding-top: 0.25rem;
                .kai{
                    padding: 0.05rem;
                   width: 0.94rem;
                   height: 0.4rem;  
                   background: #3D91FD;
                   border-radius:15px ;
                   .yuan{
                        width: 0.3rem;
                        height: 0.3rem;
                        border-radius:50% ;
                        background: #FAFAFA;
                        position: absolute;
                        right: 0.05rem;
                   }
                 }
            }
            .china{
                color: #3D3D3D;
                font-size:0.25rem;
                padding-left: 0.8rem;
                padding-top: 0.15rem;
            }
            .english{
                color: #959595;
                font-size:0.125rem;
                padding-left: 0.8rem;
            }
        }
       .last{
            border: 0;
        }
    }
  .tijiao{
    width: 6rem;
    height: 0.74rem;
    background: #28DD8B;
    @include lr;
    margin-top: 6.6rem;
    border-radius:25px;
    .zuo{
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius:50% ;
        position: absolute;
         top:0;
         bottom: 0;
         left: 0.3rem;
         margin: auto;
    }
    .you{
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius:50% ;
        position: absolute;
         top:0;
         bottom: 0;
         right: 0.3rem;
         margin: auto;
    }
    .zi{
        color: #fff;
        font-size:0.25rem;
        text-align: center;
        padding-top: 0.23rem;
    }
 }
  
.box{
    width: 100%;
    height: 13rem;
    background: rgba(3,3,3,0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    transform: scale(0);
    .tishi{
        width: 4.8rem;
        height: 5.66rem;
        @include lr;
        background: #fff;
        border-radius:0.2rem ;
        top: 3.24rem;
        .top{
            width: 100%;
            height: 15%;
            border-top-left-radius:0.2rem ;
            border-top-right-radius:0.2rem ;
            background: #27D4B5;
            img{
                 position: absolute;
                 top:0;
                 bottom: 0;
                 left: 0.6rem;
                 margin: auto;
                 transform: scale(0.5);
            }
            .china{
                color: #E9FBF7;
                font-size:0.25rem;
                padding-left: 1.2rem;
                padding-top: 0.1rem;
            }
            .english{
                color: #E9FBF7;
                font-size:0.125rem;
                padding-left: 1.2rem;
            }
        }
        .bottom{
             width: 100%;
             height: 75%;
             .xiuxi-tan{
                width:95%;
                height: 3.3rem;
                border: 0;
                @include lr;
                border-radius: 5px;
                background: #fff;
            .xiuxi-li{
                width: 100%;
                height: 25%;
                border-bottom: 1px dashed #C5C5C5;
                .china{
                    color: #3D3D3D;
                    font-size:0.25rem;
                    padding-left: 0.2rem;
                    padding-top: 0.1rem;
                }
                .english{
                    color: #959595;
                    font-size:0.125rem;
                    padding-left: 0.2rem;
                }
                .cri{
                    width: 0.35rem;
                    height: 0.35rem;
                    @include tb;
                    right: 0.2rem;
                    border: 1px solid #98EEDF;
                    border-radius: 50%;
                    padding: 0.08rem;
                    .xin{
                         width: 0.16rem;
                         height: 0.16rem;
                         border-radius: 50%;
                         background: #98EEDF;
                    }
                }
            }
        }
        .quxiao{
            width: 1.5rem;
            height: 0.6rem;
            background: #fff;
            border-radius:25px;
             position: absolute;
            bottom: -0.2rem;
            left: 0.5rem;
            border: 1px solid #28DD8B;
            
            .zuo{
                width: 5px;
                height: 5px;
                background: #28DD8B;
                border-radius:50% ;
                position: absolute;
                 top:0;
                 bottom: 0;
                 left: 0.3rem;
                 margin: auto;
            }
            .you{
                width: 5px;
                height: 5px;
                background: #28DD8B;
                border-radius:50% ;
                position: absolute;
                 top:0;
                 bottom: 0;
                 right: 0.3rem;
                 margin: auto;
            }
            .zi{
                color: #28DD8B;
                font-size:0.25rem;
                text-align: center;
                padding-top: 0.14rem;
            }
         }
        .queding{
            width: 1.5rem;
            height: 0.6rem;
            background: #28DD8B;
            border-radius:25px;
            position: absolute;
            bottom: -0.2rem;
            right: 0.5rem;
            .zuo{
                width: 5px;
                height: 5px;
                background: #fff;
                border-radius:50% ;
                position: absolute;
                 top:0;
                 bottom: 0;
                 left: 0.3rem;
                 margin: auto;
            }
            .you{
                width: 5px;
                height: 5px;
                background: #fff;
                border-radius:50% ;
                position: absolute;
                 top:0;
                 bottom: 0;
                 right: 0.3rem;
                 margin: auto;
            }
            .zi{
                color: #fff;
                font-size:0.25rem;
                text-align: center;
                padding-top: 0.14rem;
            }
         }
        
        
    }
   }
}

.xian{
    transform: scale(1);
}
.muohu{
     filter: blur(3px);
}
.qingchu{
    width: 100%;
    height: 13rem;
    background: rgba(3,3,3,0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    transform: scale(0);
    .tishi{
        width: 4.8rem;
        height: 5.66rem;
        @include lr;
        background: #fff;
        border-radius:0.2rem ;
        top: 3.24rem;
        .top{
            width: 100%;
            height: 15%;
            border-top-left-radius:0.2rem ;
            border-top-right-radius:0.2rem ;
            background: #27D4B5;
            .left{
                float: left;
                  img{
                     position: absolute;
                     top:0;
                     bottom: 0;
                     left: 0.6rem;
                     margin: auto;
                     transform: scale(0.5);
                }
                .china{
                    color: #E9FBF7;
                    font-size:0.25rem;
                    padding-left: 1.2rem;
                    padding-top: 0.1rem;
                }
                .english{
                    color: #E9FBF7;
                    font-size:0.125rem;
                    padding-left: 1.2rem;
                }
            }
            .right{
                float: right;
                  img{
                     position: absolute;
                     top:0.35rem;
                     bottom: 0;
                     right: 0.25rem;
                     margin: auto;
                     transform: scale(0.5);
                }
                .china{
                    color: #E9FBF7;
                    font-size:0.125rem;
                    padding-right: 0.8rem;
                    padding-top: 0.3rem;
                }
            }
          
        }
        .bottom{
             width: 100%;
             height: 75%;
             .qingchu-tan{
                width:95%;
                height: 3.3rem;
                border: 0;
                @include lr;
                border-radius: 5px;
                background: #fff;
            .qingchu-li{
                width: 100%;
                height: 25%;
                border-bottom: 1px dashed #C5C5C5;
                .china{
                    color: #3D3D3D;
                    font-size:0.25rem;
                    padding-left: 0.2rem;
                    padding-top: 0.1rem;
                }
                .english{
                    color: #959595;
                    font-size:0.125rem;
                    padding-left: 0.2rem;
                }
                .cri{
                    width: 0.35rem;
                    height: 0.35rem;
                    @include tb;
                    right: 0.2rem;
                    border: 1px solid #98EEDF;
                    border-radius: 50%;
                    padding: 0.08rem;
                    .xin{
                         width: 0.16rem;
                         height: 0.16rem;
                         border-radius: 50%;
                         background: #98EEDF;
                    }
                }
            }
        }
        .quxiao{
            width: 1.5rem;
            height: 0.6rem;
            background: #fff;
            border-radius:25px;
             position: absolute;
            bottom: -0.2rem;
            left: 0.5rem;
            border: 1px solid #28DD8B;
            .zuo{
                width: 5px;
                height: 5px;
                background: #28DD8B;
                border-radius:50% ;
                position: absolute;
                 top:0;
                 bottom: 0;
                 left: 0.3rem;
                 margin: auto;
            }
            .you{
                width: 5px;
                height: 5px;
                background: #28DD8B;
                border-radius:50% ;
                position: absolute;
                 top:0;
                 bottom: 0;
                 right: 0.3rem;
                 margin: auto;
            }
            .zi{
                color: #28DD8B;
                font-size:0.25rem;
                text-align: center;
                padding-top: 0.14rem;
            }
         }
        .queding{
            width: 1.5rem;
            height: 0.6rem;
            background: #28DD8B;
            border-radius:25px;
            position: absolute;
            bottom: -0.2rem;
            right: 0.5rem;
            .zuo{
                width: 5px;
                height: 5px;
                background: #fff;
                border-radius:50% ;
                position: absolute;
                 top:0;
                 bottom: 0;
                 left: 0.3rem;
                 margin: auto;
            }
            .you{
                width: 5px;
                height: 5px;
                background: #fff;
                border-radius:50% ;
                position: absolute;
                 top:0;
                 bottom: 0;
                 right: 0.3rem;
                 margin: auto;
            }
            .zi{
                color: #fff;
                font-size:0.25rem;
                text-align: center;
                padding-top: 0.14rem;
            }
         }
        
        
    }
   }
}

.show{
    transform: scale(1);
}



