@charset "UTF-8";
html {
  font-size: 100px;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  box-sizing: border-box;
}

img {
  border: none;
}

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
img {
  vertical-align: middle;
}

body {
  background: #FAFAFA;
}

ul, li {
  list-style: none;
}

.icon {
  font-family: "iconfont" !important;
}

.head {
  width: 100%;
  height: 1.1rem;
  background: #2BA6DC;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.2rem;
}

.head .shezhi_a {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.1rem;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.head .shezhi_a .shezhi_tuijian {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5rem;
  margin: auto;
}

.head .china {
  font-size: 0.36rem;
  color: #fff;
}

.head .english {
  font-size: 0.18rem;
  color: #fff;
  margin-top: 0.05rem;
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1.8rem;
  left: 0;
  text-align: center;
}

.text .ke {
  width: 100%;
  height: 0.92rem;
}

.text .frist {
  padding-left: 1.9rem;
}

.text .er {
  padding-left: 0.9rem;
}

.text .san {
  padding-left: 1.7rem;
}

.text .si {
  padding-left: 1.2rem;
}

.text .wu {
  padding-left: 1.6rem;
}

.text .liu {
  padding-left: 0.7rem;
}

.text .qi {
  padding-left: 1.9rem;
}

.text .div1 {
  float: left;
  height: 0.62rem;
  margin-top: 0.3rem;
}

.text .div1 .li {
  width: auto;
  height: 0.62rem;
  float: left;
  margin-right: 0.5rem;
  overflow: hidden;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border: 1px solid #B0B0B0;
  border-radius: 15px;
  line-height: 0.62rem;
  font-size: 0.28rem;
  color: #838383;
}

.text .div1 .divng {
  background: #29A6DC;
  color: #fff;
  border: 0;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.tijiao_tuijian {
  width: 6rem;
  height: 0.74rem;
  background: #28DD8B;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10rem;
  border-radius: 25px;
}

.tijiao_tuijian .zuo {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.3rem;
  margin: auto;
}

.tijiao_tuijian .you {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.3rem;
  margin: auto;
}

.tijiao_tuijian .zi {
  color: #fff;
  font-size: 0.25rem;
  text-align: center;
  padding-top: 0.23rem;
}
