 @import 'base';
 img{
     vertical-align: middle;
 }
 body{
     background: #FAFAFA;
 }
 ul,li{
     list-style: none;
 }
  a{
    text-decoration: none;
}
 .icon{
    font-family: 'iconfont'!important;
}


//头部
 .head{
     
     width: 100%;
     height: 1.1rem;
     background: #2BA6DC;
     padding-left: 0.25rem;
     padding-right: 0.25rem;
     padding-top: 0.2rem;
     text-align: center;
     .z{
         display: block;
         position: absolute;
         top:0;
         bottom: 0;
         left: 0.5rem;
         margin: auto;
         z-index: 33;
     }
     .shezhi_yijian{
         position: absolute;
         top:0;
         bottom: 0;
//       left: 0.5rem;
         margin: auto;
         
     }
     .china{
         font-size: 0.36rem;
         color: #fff;
         
     }
     .english{
         font-size: 0.18rem;
         color: #fff;
         margin-top: 0.05rem;
     }
 }
 .text_yijian{
    width: 7.1rem;
    height: 3.7rem;
    border: 2px solid #EBEBEB;
    @include lr;
    margin-top: 0.3rem;
    border-radius:5px ;
    background: #fff;
    span{
         position: absolute;
         top:0;
         bottom: 0;
         left: 0.25rem;
         margin: auto;
         color: #E38E51;
         font-size:0.5rem ;
    }
     .china{
            color: #3D3D3D;
            font-size:0.25rem;
            padding-left: 1.2rem;
            padding-top: 0.15rem;
        }
        .english{
            color: #8E8E8E;
            font-size:0.125rem;
            padding-left: 1.2rem;
        }
    
 }
 .tijiao{
    width: 6rem;
    height: 0.74rem;
    background: #28DD8B;
    @include lr;
    margin-top: 4.6rem;
    border-radius:25px;
    .zuo{
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius:50% ;
        position: absolute;
         top:0;
         bottom: 0;
         left: 0.3rem;
         margin: auto;
    }
    .you{
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius:50% ;
        position: absolute;
         top:0;
         bottom: 0;
         right: 0.3rem;
         margin: auto;
    }
    .zi{
        color: #fff;
        font-size:0.25rem;
        text-align: center;
        padding-top: 0.23rem;
    }
 }























