@charset "UTF-8";
html {
  font-size: 100px; }

body {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "苹方"; }

img {
  border: none; }

a {
  text-decoration: none; }

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
.mulu-box1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.mulu {
  width: 100%;
  height: 100%;
  position: relative; }

.mulu-list {
  width: 100%;
  height: 100%;
  position: relative; }
  .mulu-list .return1 {
    position: absolute;
    left: 0.22rem;
    bottom: 0.22rem; }
    .mulu-list .return1 img {
      width: 0.45rem; }
    .mulu-list .return1 a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%; }
  .mulu-list .top {
    height: 1rem;
    width: 100%;
    background: #29a6dc;
    position: relative; }
    .mulu-list .top .top-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 5.75rem;
      height: 0.84rem;
      border-radius: 0.42rem;
      background: #293340;
      padding-left: 1px; }
      .mulu-list .top .top-content .top-lis {
        width: 33.33333%;
        float: left;
        height: 100%;
        position: relative; }
        .mulu-list .top .top-content .top-lis .cir {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 1.65rem;
          height: 0.7rem;
          background: url("../../../img/zhangjie/baiyuanbg.png");
          background-size: cover; }
          .mulu-list .top .top-content .top-lis .cir h1 {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            font-size: 0.24rem;
            color: #FFFFFF;
            margin-top: 0.13rem; }
          .mulu-list .top .top-content .top-lis .cir span {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            color: #FFFFFF;
            font-size: 0.14rem;
            font-weight: 200;
            text-align: center;
            text-transform: uppercase;
            bottom: 0; }
      .mulu-list .top .top-content .top-xian1 {
        height: 0.57rem;
        width: 1px;
        position: relative;
        float: left;
        background: #C4C4C4;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 33%; }
        .mulu-list .top .top-content .top-xian1 .cir1 {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          position: absolute;
          top: -2px;
          left: -1px;
          background: #EFEFEF; }
        .mulu-list .top .top-content .top-xian1 .cir2 {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          position: absolute;
          bottom: -2px;
          left: -1px;
          background: #EFEFEF; }
      .mulu-list .top .top-content .top-xian2 {
        height: 0.57rem;
        width: 1px;
        position: relative;
        float: left;
        background: #C4C4C4;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 33%; }
        .mulu-list .top .top-content .top-xian2 .cir1 {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          position: absolute;
          top: -2px;
          left: -1px;
          background: #EFEFEF; }
        .mulu-list .top .top-content .top-xian2 .cir2 {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          position: absolute;
          bottom: -2px;
          left: -1px;
          background: #EFEFEF; }

.mulu-box {
  width: 100%;
  height: 100%;
  position: relative; }

.mulu-lists1 {
  width: 100%;
  height: 100%; }

.mulu-lists {
  width: 100%;
  height: 100%;
  background: #fff; }
  .mulu-lists li {
    padding-left: 0.47rem;
    padding-right: 0.43rem;
    height: 0.88rem;
    position: relative;
    border-bottom: 0.01rem dotted #999999; }

.mulu-zhengwen {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.43rem;
  font-size: 0.26rem;
  line-height: 0.88rem; }

.mulu-zhengwen:hover {
  color: #357FE4; }

.mulu-dow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.43rem;
  line-height: 0.88rem; }

.mulu-yejiao {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: #fff; }

.shuqian-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

.shuqian-num {
  width: 100%;
  height: 0.48rem;
  background: #E5E5E5;
  color: #A8A8A8;
  font-size: 0.19rem;
  text-align: center;
  line-height: 0.48rem; }

.sq-lists1 {
  width: 100%;
  height: 100%; }
  .sq-lists1 li {
    width: 100%;
    height: 1.3rem;
    position: relative;
    border-bottom: 0.01rem dotted #A0A0A0; }

.sq-style11 {
  width: 100%;
  height: 1.3rem;
  padding-top: 0.1rem;
  position: absolute;
  top: 0;
  left: 0; }

.shuqian-tu1 {
  width: 0.7rem;
  height: 0.67rem;
  margin-top: 0.23rem;
  margin-left: 0.43rem;
  float: left;
  background: url("../../../img/zhangjie/sq.png");
  background-size: cover; }

.shuqian-right1 {
  width: 6.26rem;
  height: 100%;
  float: right; }

.shuqian-title1 h1 {
  font-size: 0.23rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.shuqian-title1 h2 {
  font-size: 0.16rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #505050; }

.shuqian-foot1 {
  position: absolute;
  bottom: 0.01rem;
  left: 1.29rem;
  width: 6.27rem; }
  .shuqian-foot1 .sq-left1 {
    float: left; }
    .shuqian-foot1 .sq-left1 .sq-shijian1 {
      width: 0.18rem;
      height: 0.18rem;
      background: url("../../../img/zhangjie/shijian.png");
      background-size: cover;
      float: left;
      margin-top: 0.05rem; }
    .shuqian-foot1 .sq-left1 .sq-shijian11 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-left: 0.08rem; }
    .shuqian-foot1 .sq-left1 .sq-riqi1 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-left: 0.16rem; }
  .shuqian-foot1 .sq-right1 {
    float: right;
    padding-right: 0.66rem; }
    .shuqian-foot1 .sq-right1 .hongyan1 {
      width: 0.26rem;
      height: 0.16rem;
      background: url("../../../img/zhangjie/hongyan.png");
      background-size: cover;
      margin-top: 0.08rem;
      float: left;
      margin-right: 0.08rem; }
    .shuqian-foot1 .sq-right1 .num1 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-right: 0.08rem; }

.sq-lists11 li .sq-dis1 {
  display: none; }

.sq-lists11 li .sq-dis {
  display: block; }

.sq-style21 {
  width: 100%;
  height: 1.3rem;
  padding-top: 0.1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../img/zhangjie/sq-bg.png");
  background-size: cover;
  display: none; }

.shuqian-left21 {
  width: 6.26rem;
  height: 100%;
  float: left;
  margin-left: 0.47rem; }

.shuqian-title21 h1 {
  font-size: 0.23rem;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.shuqian-title21 h2 {
  font-size: 0.16rem;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.shuqian-foot21 {
  width: 100%;
  position: absolute;
  bottom: 0.01rem;
  left: 0;
  box-sizing: border-box; }
  .shuqian-foot21 .sq-left21 {
    float: left; }
    .shuqian-foot21 .sq-left21 .sq-shijian21 {
      width: 0.18rem;
      height: 0.18rem;
      background: url("../../../img/zhangjie/baishijian.png");
      background-size: cover;
      float: left;
      margin-top: 0.05rem; }
    .shuqian-foot21 .sq-left21 .sq-shijian121 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-left: 0.08rem;
      color: #fff; }
    .shuqian-foot21 .sq-left21 .sq-riqi21 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-left: 0.16rem;
      color: #fff; }
  .shuqian-foot21 .sq-right21 {
    width: 0.84rem;
    float: right;
    margin-right: 0.66rem;
    margin-top: 0.01rem; }
    .shuqian-foot21 .sq-right21 .hongyan21 {
      width: 0.26rem;
      height: 0.16rem;
      background: url("../../../img/zhangjie/baiyan.png");
      background-size: cover;
      margin-top: 0.08rem;
      float: left; }
    .shuqian-foot21 .sq-right21 .num21 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      color: #fff; }

.shuqian-right21 {
  width: 0.29rem;
  height: 0.29rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.23rem;
  background: url("../../../img/zhangjie/cha.png");
  background-size: cover; }

.quangbu1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.09rem;
  background: #151C2B; }

.qb-anniu1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../../../img/zhangjie/quanbu.png");
  background-size: cover;
  width: 1.6rem;
  height: 0.53rem;
  text-align: center;
  line-height: 0.53rem;
  color: #5E5E5E;
  font-size: 0.17rem; }

.biji-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

.shuqian-num {
  width: 100%;
  height: 0.48rem;
  background: #E5E5E5;
  color: #A8A8A8;
  font-size: 0.19rem;
  text-align: center;
  line-height: 0.48rem; }

.biji-lists {
  width: 100%;
  height: 100%; }
  .biji-lists li {
    width: 100%;
    height: 2rem;
    position: relative;
    border-bottom: 0.01rem dotted #A0A0A0; }

.bj-style1 {
  width: 100%;
  height: 2rem;
  padding-top: 0.1rem;
  position: absolute;
  top: 0;
  left: 0; }

.shuqian-tu {
  width: 0.83rem;
  height: 0.76rem;
  margin-top: 0.61rem;
  margin-left: 0.23rem;
  float: left;
  background: url("../../../img/zhangjie/biji.png");
  background-size: cover; }

.shuqian-right {
  width: 5.39rem;
  height: 100%;
  float: right;
  margin-right: 0.9rem; }

.shuqian-title h1 {
  font-size: 0.23rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.shuqian-title h2 {
  font-size: 0.15rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #505050; }

.biji {
  width: 5.38rem;
  height: 0.9rem;
  background: url("../../../img/zhangjie/biji-bg.png");
  background-size: cover;
  padding-top: 0.13rem;
  padding-left: 0.24rem; }

.biji-tu {
  width: 0.23rem;
  height: 0.23rem;
  float: left;
  background: url("../../../img/zhangjie/hongbi.png");
  background-size: cover; }

.biji-wz {
  width: 3.91rem;
  height: 0.5rem;
  float: left;
  margin-left: 0.1rem;
  margin-top: -0.03rem; }
  .biji-wz h1 {
    font-size: 0.17rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #E74166;
    font-weight: normal; }
  .biji-wz h2 {
    font-size: 0.17rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #E74166;
    font-weight: normal; }

.shuqian-foot {
  position: absolute;
  bottom: 0.01rem;
  left: 1.24rem;
  width: 5.39rem; }
  .shuqian-foot .sq-left {
    float: left; }
    .shuqian-foot .sq-left .sq-shijian {
      width: 0.18rem;
      height: 0.18rem;
      background: url("../../../img/zhangjie/shijian.png");
      background-size: cover;
      float: left;
      margin-top: 0.05rem; }
    .shuqian-foot .sq-left .sq-shijian1 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-left: 0.08rem; }
    .shuqian-foot .sq-left .sq-riqi {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-left: 0.16rem; }
  .shuqian-foot .sq-right {
    float: left;
    margin-left: 0.1rem; }
    .shuqian-foot .sq-right .hongyan {
      width: 0.26rem;
      height: 0.16rem;
      background: url("../../../img/zhangjie/hongyan.png");
      background-size: cover;
      margin-top: 0.08rem;
      float: left;
      margin-right: 0.08rem; }
    .shuqian-foot .sq-right .num {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-right: 0.08rem; }

.bianji {
  width: 0.77rem;
  height: 0.33rem;
  background: url("../../../img/zhangjie/bianji.png");
  background-size: cover;
  float: right; }

.bj-style2 {
  width: 100%;
  height: 2rem;
  padding-top: 0.1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../img/zhangjie/biji1.png");
  background-size: cover;
  display: none; }

.shuqian-left2 {
  width: 6.26rem;
  height: 100%;
  float: left;
  margin-left: 0.47rem; }

.shuqian-title2 h1 {
  font-size: 0.23rem;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.shuqian-title2 h2 {
  font-size: 0.16rem;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.biji2 {
  width: 5.38rem;
  height: 0.9rem;
  padding-top: 0.13rem; }

.biji-tu {
  width: 0.23rem;
  height: 0.23rem;
  float: left;
  background: url("../../../img/zhangjie/baibi.png");
  background-size: cover; }

.biji-wz {
  width: 3.91rem;
  height: 0.5rem;
  float: left;
  margin-left: 0.1rem;
  margin-top: -0.03rem; }
  .biji-wz h1 {
    font-size: 0.17rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1F9E70;
    font-weight: normal; }
  .biji-wz h2 {
    font-size: 0.17rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1F9E70;
    font-weight: normal; }

.shuqian-foot2 {
  width: 100%;
  position: absolute;
  bottom: 0.01rem;
  left: 0.54rem;
  box-sizing: border-box; }
  .shuqian-foot2 .sq-left2 {
    float: left; }
    .shuqian-foot2 .sq-left2 .sq-shijian2 {
      width: 0.18rem;
      height: 0.18rem;
      background: url("../../../img/zhangjie/baishijian.png");
      background-size: cover;
      float: left;
      margin-top: 0.05rem; }
    .shuqian-foot2 .sq-left2 .sq-shijian12 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-left: 0.08rem;
      color: #fff; }
    .shuqian-foot2 .sq-left2 .sq-riqi2 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      margin-left: 0.16rem;
      color: #fff; }
  .shuqian-foot2 .sq-right2 {
    width: 0.84rem;
    float: left;
    margin-top: 0.01rem;
    margin-left: 0.11rem; }
    .shuqian-foot2 .sq-right2 .hongyan2 {
      width: 0.26rem;
      height: 0.16rem;
      background: url("../../../img/zhangjie/baiyan.png");
      background-size: cover;
      margin-top: 0.08rem;
      float: left; }
    .shuqian-foot2 .sq-right2 .num2 {
      font-size: 0.11rem;
      color: #505050;
      float: left;
      color: #fff; }

.shuqian-right2 {
  width: 0.29rem;
  height: 0.29rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.23rem;
  background: url("zhangjie/cha.png");
  background-size: cover; }

.quangbu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.09rem;
  background: #151C2B; }

.qb-anniu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../../../img/zhangjie/quanbu.png");
  background-size: cover;
  width: 1.6rem;
  height: 0.53rem;
  text-align: center;
  line-height: 0.53rem;
  color: #5E5E5E;
  font-size: 0.17rem; }

.zezhao {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none; }
  .zezhao .zezhao-tu {
    width: 2rem;
    height: 2.5rem;
    background: url("../../../img/zhangjie/zezhao.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
