<!--<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width">
		<title>Document</title>
		<link rel="stylesheet" href="mulu.css" />
		<script src="mulu.js"></script>
	</head>

	<body>-->
		<div class='mulu-box1'>
			<!--目录-->
			<div class='mulu-list'>
				<!--头部-->
				<div class='mulu-top'>
					<div class="top">
						<div class="return1">
							<img src="img/zhangjie/fanhui.png" alt="" />
							<a href="#/wenzhang"></a>
						</div>
						<ul class="top-content">
							<li class="top-lis" ng-click='topM()'>
								<div class="cir top-mulu top-m">
									<h1>目录</h1><span>CATALOG</span></div>
							</li>
							<li class="top-xian1">
								<div class="cir1"></div>
								<div class="cir2"></div>
							</li>
							<li class="top-lis" ng-click='topS()'>
								<div class="cir top-s">
									<h1>书签</h1><span>BOOKMARK</span></div>
							</li>
							<li class="top-xian2">
								<div class="cir1"></div>
								<div class="cir2"></div>
							</li>
							<li class="top-lis" ng-click='topB()'>
								<div class="cir top-b">
									<h1>笔记</h1><span>NOTE</span></div>
							</li>
						</ul>
					</div>
				</div>

				<div class='mulu-box'>
					<!--目录列表-->
					<div class='mulu-lists1 m-list'>
						<ul class='mulu-lists'>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第一章</span>
									<span>见鬼了！</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
							<li>
								<div class='mulu-zhengwen'>
									<span>正文</span>
									<span>第二章</span>
									<span>见鬼了</span>
								</div>
								<div class='mulu-dow'>已下载</div>
							</li>
						</ul>
						<div class="mulu-yejiao"></div>
					</div>
					<!--书签-->
					<div class='shuqian-list'>
						<div class='shuqian-num'>目前你有七条书签记录...</div>
						<ul class='sq-lists1'>
							<li>
								<div class='sq-style11'>
									<div class='shuqian-tu1'></div>
									<div class='shuqian-right1'>
										<div class='shuqian-title1'>
											<h1>第一章  口吐莲花，会说话的聪明女人惹</h1>
											<h2>例如，当你见到一位相貌平平的先生，却偏要对他说我是…</h2>
										</div>
										<div class='shuqian-foot1'>
											<div class='sq-left1'>
												<div class='sq-shijian1'></div>
												<div class='sq-shijian11'>22:22</div>
												<div class='sq-riqi1'>201611/11</div>
											</div>
											<div class='sq-right1'>
												<div class='hongyan1'></div>
												<div class='num1'>12%</div>
											</div>
										</div>
									</div>
								</div>
								<div class='sq-style21'>
									<div class='shuqian-left21'>
										<div class='shuqian-title21'>
											<h1>第一章  口吐莲花，会说话的聪明女人惹</h1>
											<h2>例如，当你见到一位相貌平平的先生，却偏要对他说我是…</h2>
										</div>
										<div class='shuqian-foot21'>
											<div class='sq-left21'>
												<div class='sq-shijian21'></div>
												<div class='sq-shijian121'>22:22</div>
												<div class='sq-riqi21'>201611/11</div>
											</div>
											<div class='sq-right21'>
												<div class='hongyan21'></div>
												<div class='num21'>12%</div>
											</div>
										</div>
									</div>
									<div class='shuqian-right21'></div>
								</div>
							</li>
							<li>
								<div class='sq-style11'>
									<div class='shuqian-tu1'></div>
									<div class='shuqian-right1'>
										<div class='shuqian-title1'>
											<h1>第一章  口吐莲花，会说话的聪明女人惹</h1>
											<h2>例如，当你见到一位相貌平平的先生，却偏要对他说我是…</h2>
										</div>
										<div class='shuqian-foot1'>
											<div class='sq-left1'>
												<div class='sq-shijian1'></div>
												<div class='sq-shijian11'>22:22</div>
												<div class='sq-riqi1'>201611/11</div>
											</div>
											<div class='sq-right1'>
												<div class='hongyan1'></div>
												<div class='num1'>12%</div>
											</div>
										</div>
									</div>
								</div>
								<div class='sq-style21 sq-dis1'>
									<div class='shuqian-left21'>
										<div class='shuqian-title21'>
											<h1>第一章  口吐莲花，会说话的聪明女人惹</h1>
											<h2>例如，当你见到一位相貌平平的先生，却偏要对他说我是…</h2>
										</div>
										<div class='shuqian-foot21'>
											<div class='sq-left21'>
												<div class='sq-shijian21'></div>
												<div class='sq-shijian121'>22:22</div>
												<div class='sq-riqi21'>201611/11</div>
											</div>
											<div class='sq-right21'>
												<div class='hongyan21'></div>
												<div class='num21'>12%</div>
											</div>
										</div>
									</div>
									<div class='shuqian-right21'></div>
								</div>
							</li>
							<!--<li>
								<div class='sq-style11'>
									<div class='shuqian-tu1'></div>
									<div class='shuqian-right1'>
										<div class='shuqian-title1'>
											<h1>第一章  口吐莲花，会说话的聪明女人惹</h1>
											<h2>例如，当你见到一位相貌平平的先生，却偏要对他说我是…</h2>
										</div>
										<div class='shuqian-foot1'>
											<div class='sq-left1'>
												<div class='sq-shijian1'></div>
												<div class='sq-shijian11'>22:22</div>
												<div class='sq-riqi1'>201611/11</div>
											</div>
											<div class='sq-right1'>
												<div class='hongyan1'></div>
												<div class='num1'>12%</div>
											</div>
										</div>
									</div>
								</div>
								<div class='sq-style21'>
									<div class='shuqian-left21'>
										<div class='shuqian-title21'>
											<h1>第一章  口吐莲花，会说话的聪明女人惹</h1>
											<h2>例如，当你见到一位相貌平平的先生，却偏要对他说我是…</h2>
										</div>
										<div class='shuqian-foot21'>
											<div class='sq-left21'>
												<div class='sq-shijian21'></div>
												<div class='sq-shijian121'>22:22</div>
												<div class='sq-riqi21'>201611/11</div>
											</div>
											<div class='sq-right21'>
												<div class='hongyan21'></div>
												<div class='num21'>12%</div>
											</div>
										</div>
									</div>
									<div class='shuqian-right21'></div>
								</div>
							</li>-->
						</ul>
						<div class='quangbu'>
							<div class='qb-anniu'>查看全部</div>
						</div>
					</div>
					<!--笔记-->
					<div class='biji-list'>
						<div class='shuqian-num'>目前您有三条读书笔记...</div>
						<ul class='biji-lists'>
							<li>
								<div class='bj-style1'>
									<div class='shuqian-tu'></div>
									<div class='shuqian-right'>
										<div class='shuqian-title'>
											<h1>第一章  口吐莲花，会说话的聪明女人惹</h1>
											<h2>例如，当你见到一位相貌平平的先生，却偏要对他说我是…</h2>
										</div>
										<div class='biji'>
											<div class='biji-tu'></div>
											<div class='biji-wz'>
												<h1>这里运用排比修辞手法形象生动的说明…</h1>
												<h2>心情无比激动，看到睡不着！</h2>
											</div>
										</div>
										<div class='shuqian-foot'>
											<div class='sq-left'>
												<div class='sq-shijian'></div>
												<div class='sq-shijian1'>22:22</div>
												<!--<div class='sq-riqi'>201611/11</div>-->
											</div>
											<div class='sq-right'>
												<div class='hongyan'></div>
												<div class='num'>12%</div>
											</div>
											<div class='bianji'>
											</div>
										</div>
									</div>
								</div>
								<div class='bj-style2 '>
									<div class='shuqian-left2'>
										<div class='shuqian-title2'>
											<h1>第一章  口吐莲花，会说话的聪明女人惹</h1>
											<h2>例如，当你见到一位相貌平平的先生，却偏要对他说我是…</h2>
										</div>
										<div class='biji2'>
											<div class='biji-tu'></div>
											<div class='biji-wz'>
												<h1>这里运用排比修辞手法形象生动的说明…</h1>
												<h2>心情无比激动，看到睡不着！</h2>
											</div>
										</div>
										<div class='shuqian-foot2'>
											<div class='sq-left2'>
												<div class='sq-shijian2'></div>
												<div class='sq-shijian12'>22:22</div>
												<!--<div class='sq-riqi2'>201611/11</div>-->
											</div>
											<div class='sq-right2'>
												<div class='hongyan2'></div>
												<div class='num2'>12%</div>
											</div>
										</div>
									</div>
									<div class='shuqian-right2'></div>
								</div>
							</li>
						</ul>
						<div class='quangbu'>
							<div class='qb-anniu'>查看全部</div>
						</div>
					</div>

				</div>
				<div class='zezhao'>
					<div class='zezhao-tu'></div>
				</div>
			</div>
		</div>
	<!--</body>

</html>-->