@charset "UTF-8";
html {
  font-size: 100px;
}

body {
  font-size: 16px;
  font-family: "苹方";
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  box-sizing: border-box;
}

img {
  border: none;
}

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
html, body {
  -webkit-text-size-adjust: none;
}

.box_shuye3 {
  width: 100%;
  height: 100%;
}

.head {
  height: 1rem;
  background: #29a6dc;
}

.head .head_Left {
  width: .44rem;
  height: .44rem;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #096dbe;
  line-height: .44rem;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: .24rem;
  overflow: hidden;
}

.head .head_Left span {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/shuye/fanhui.png") no-repeat;
  background-size: .28rem .28rem;
  background-position: 2px center;
}

.head .head_Left span a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
}

.head .head_zhong {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: .3rem;
  color: #fffefe;
}

.head .head_zhong h1 {
  font-size: 20px;
  font-weight: 300;
  margin-top: .19rem;
  margin-bottom: .1rem;
}

.head .head_zhong span {
  font-size: 7px;
  color: #a3e3ff;
}

.head .head_zhong .head_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: .2rem;
}

.head .head_zhong .head_img .head_gan {
  height: 1px;
  width: .29rem;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.head .head_zhong .head_img .head_gan .head_yuan1 {
  position: absolute;
  left: -0.03rem;
  top: -0.01rem;
  width: 0.06rem;
  height: 0.06rem;
  background: #FFFFFF;
  border-radius: 50%;
}

.head .head_zhong .head_img .head_gan .head_yuan2 {
  position: absolute;
  right: -0.03rem;
  top: -0.01rem;
  width: 0.06rem;
  height: 0.06rem;
  background: #FFFFFF;
  border-radius: 50%;
}

.box_shuping {
  width: 100%;
  height: auto;
  margin-top: .25rem;
}

.box_shuping .shuping_nei {
  width: 7rem;
  margin: 0 auto;
}

.box_shuping .shuping_nei .shuping_xia {
  width: 7rem;
  height: 1.54rem;
  margin: 0 auto;
  box-shadow: 0 0 8px 1px #f2f7ff;
  background: #fdfdfd;
  padding-top: .25rem;
  padding-left: .2rem;
  padding-right: .24rem;
  margin-bottom: .2rem;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_left {
  width: 1.27rem;
  height: 1.54rem;
  float: left;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_left .shuping_touxiang {
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_left .shuping_touxiang .tou_nan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: 21px;
  left: -18px;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right {
  width: 5.2rem;
  height: 100%;
  float: right;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_shang {
  height: .77rem;
  border-bottom: 1px dashed #a7a7a7;
  padding-bottom: .18rem;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_shang p {
  font-size: 11px;
  color: #666666;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_shang p span {
  display: inline-block;
  width: .21rem;
  height: .21rem;
  background: url("../img/shuye/shuye_84.png") no-repeat;
  background-size: cover;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia {
  height: .53rem;
  padding-top: .1rem;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia .shupingxiaRX_shijian {
  float: left;
  width: 50%;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia .shupingxiaRX_shijian .shijian_tu {
  float: left;
  width: .35rem;
  height: .35rem;
  background: #fff;
  box-shadow: 0 0 5px 1px #f1f8fd;
  border-radius: 50%;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia .shupingxiaRX_shijian .shijian_tu span {
  width: .18rem;
  height: .18rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../img/shuye/shuye_11.png") no-repeat;
  background-size: cover;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia .shupingxiaRX_shijian .shijian {
  float: left;
  font-size: 9px;
  color: #a4a1a1;
  margin-left: 0.06rem;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia .shupingxiaRX_shoucang {
  float: left;
  width: 50%;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia .shupingxiaRX_shoucang .shoucang_tu {
  float: right;
  width: .35rem;
  height: .35rem;
  background: #fff;
  box-shadow: 0 0 5px 1px #f1f8fd;
  border-radius: 50%;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia .shupingxiaRX_shoucang .shoucang_tu span {
  width: .18rem;
  height: .15rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../img/shuye/shuye_14.png") no-repeat;
  background-size: cover;
}

.box_shuping .shuping_nei .shuping_xia .shupingxia_right .shupingxiaR_xia .shupingxiaRX_shoucang .shoucang {
  float: right;
  font-size: 9px;
  color: #a4a1a1;
  margin-left: 0.06rem;
}

.box_shuping .fabupinglun {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  height: 1.28rem;
  background: #151c2b;
}

.box_shuping .fabupinglun a {
  width: 1.4rem;
  height: .51rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 10px;
  color: #393939;
  text-align: center;
  line-height: .51rem;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 15px;
}

.box_shuping .fabupinglun a .yuan1 {
  width: 0.07rem;
  height: 0.07rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.09rem;
  background: #c4c4c4;
}

.box_shuping .fabupinglun a .yuan2 {
  width: 0.07rem;
  height: 0.07rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.09rem;
  background: #c4c4c4;
}
