@charset "UTF-8";
html {
  font-size: 100px;
}

body {
  font-size: 16px;
  font-family: "苹方";
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  box-sizing: border-box;
}

img {
  border: none;
}

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
html, body {
  -webkit-text-size-adjust: none;
}

.box_shuye4 {
  width: 100%;
  height: 100%;
}

.head {
  height: 1rem;
  background: #29a6dc;
}

.head .head_Left {
  width: .44rem;
  height: .44rem;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #096dbe;
  line-height: .44rem;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: .24rem;
  overflow: hidden;
}

.head .head_Left span {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/shuye/fanhui.png") no-repeat;
  background-size: .28rem .28rem;
  background-position: 2px center;
}

.head .head_Left span a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
}

.head .head_zhong {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: .3rem;
  color: #fffefe;
}

.head .head_zhong h1 {
  font-size: 20px;
  font-weight: 300;
  margin-top: .19rem;
  margin-bottom: .1rem;
}

.head .head_zhong span {
  font-size: 7px;
  color: #a3e3ff;
}

.head .head_zhong .head_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: .2rem;
}

.head .head_zhong .head_img .head_gan {
  height: 1px;
  width: .29rem;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.head .head_zhong .head_img .head_gan .head_yuan1 {
  position: absolute;
  left: -0.03rem;
  top: -0.01rem;
  width: 0.06rem;
  height: 0.06rem;
  background: #FFFFFF;
  border-radius: 50%;
}

.head .head_zhong .head_img .head_gan .head_yuan2 {
  position: absolute;
  right: -0.03rem;
  top: -0.01rem;
  width: 0.06rem;
  height: 0.06rem;
  background: #FFFFFF;
  border-radius: 50%;
}

.box_shuqian {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.box_shuqian .shuqian_nei {
  width: 100%;
}

.box_shuqian .shuqian_nei .shuqian_xia {
  width: 100%;
  height: 1.18rem;
  border-bottom: 1px dashed #999999;
  padding-top: .13rem;
  padding-left: .53rem;
  padding-right: .44rem;
  padding-bottom: .11rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_left {
  float: left;
  width: .67rem;
  height: .88rem;
  margin-right: .25rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_left .shuqian_touxiang {
  width: .66rem;
  height: .64rem;
  background: url("../img/shuye/shuye_55.png") no-repeat;
  background-size: cover;
}

.box_shuqian .shuqian_nei .shuqian_xia .xia_left_active {
  display: none;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right {
  float: left;
  width: 5.58rem;
  height: .88rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right h2 {
  font-size: 12px;
  color: #151c2b;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right span {
  display: block;
  width: 100%;
  font-size: 9px;
  color: #505050;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shijian {
  float: left;
  width: 50%;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shijian .shijian_tu {
  float: left;
  width: .35rem;
  height: .35rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shijian .shijian_tu span {
  width: .18rem;
  height: .18rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../img/shuye/shuye_11.png") no-repeat;
  background-size: cover;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shijian .shijian_tu .tu1_active {
  background: url("../img/shuye/shuye_01_25.png") no-repeat;
  background-size: cover;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shijian .shijian {
  float: left;
  font-size: 9px;
  color: #7f7f7f;
  margin-left: 0.06rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shijian .color_active {
  color: #FFFFFF;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shoucang {
  float: left;
  width: 50%;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shoucang .shoucang_tu {
  float: right;
  width: .35rem;
  height: .35rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shoucang .shoucang_tu span {
  width: .24rem;
  height: .14rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../img/shuye/shuye_09.png") no-repeat;
  background-size: cover;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shoucang .shoucang_tu .tu2_active {
  background: url("../img/shuye/shuye_27.png") no-repeat;
  background-size: cover;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shoucang .shoucang {
  float: right;
  font-size: 9px;
  color: #7f7f7f;
  margin-left: 0.06rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .shuqianxiaRX_shoucang .color_active {
  color: #FFFFFF;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .del {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -0.6rem;
  width: .31rem;
  height: .31rem;
  background: url("../img/shuye/shuye_23.png") no-repeat;
  background-size: cover;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .color_active {
  color: #FFFFFF;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .yuan4 {
  position: absolute;
  right: -0.04rem;
  top: 0.1rem;
  width: 0.09rem;
  height: .46rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .shuqianxia_right .yuan4 .yuan {
  width: 0.09rem;
  height: 0.09rem;
  border-radius: 50%;
  background: #29dcbc;
  margin-bottom: 0.02rem;
}

.box_shuqian .shuqian_nei .shuqian_xia .xia_right_active {
  background: #29dcbc;
  width: 6.55rem;
  height: 100%;
  padding-top: .13rem;
  padding-left: .53rem;
  padding-right: .44rem;
  padding-bottom: .11rem;
}

.box_shuqian .shuqian_nei .shuqian_xia2 {
  border-bottom: 1px solid #29dcbc;
}

.box_shuqian .shuqian_nei .shuqian_xia1 {
  padding: 0;
  color: #FFFFFF;
  border-bottom: 1px solid #29dcbc;
}

.box_shuqian .shuqian_nei .shuqian_xia3 {
  border: 0;
}
