@import"../../../../../base";

.findlist{
    *{
    outline:none;
}
body{
    background:#F2F2F2;
}
.blankl{
    height:1.4rem;
    width:100%;
}
.headerl{
    height:1.4rem;
    width:100%;
    background:#2BA6DC;
    position:fixed;
    left:0;
    top:0;
}
.statel{
    width:100%;
    height:0.5rem;
    background-image:url(../img/shujia/9.png);
    background-size:7.5rem 0.5rem;
}
.backl{
        position:absolute;
        left:0.25rem;
        top:0.7rem;
        width:0.5rem;
        height:0.5rem;
        border-radius:50%;
        border:0.01rem solid #0870C0;
        background:#fff;
        background-image: url(../img/shujia/20.png);
        background-size:0.1rem 0.17rem;
        background-repeat:no-repeat;
        background-position:center;
}
 .soul{
        position:absolute;
        right:0.25rem;
        top:0.7rem;
        width:0.5rem;
        height:0.5rem;
        border-radius:50%;
        border:0.01rem solid #0870C0;
        background:#fff;
        background-image: url(../img/shujia/21.png);
        background-size:0.24rem 0.32rem;
        background-repeat:no-repeat;
        background-position:center;
        
    }
    .sousuol{
        width:5.46rem;
        height:0.54rem;
       
        border-radius:0.54rem;
        background:#fff;
        left:1rem;
        top:0.16rem;
        overflow:hidden;
        .pic{
            width:0.59rem;
            height:100%;
            background-image:url(../img/shujia/22.png);
            background-size:0.59rem 0.54rem;
            background-repeat:no-repeat;
            float:left;
        }
        .inp{
            float:left;
            line-height: 0.54rem;
            input{
               color:#C4C4C4;
               font-size:0.2rem;
               border:0;
               padding-left:0.12rem;
               
            }
        }
    }
.hotl{
    height:6.4rem;
    width:7rem;
    margin:0 auto;
    margin-top:0.3rem;
    .title{
        height:0.84rem;
        background-image:url(../img/shujia/23.png);
        background-size:2.04rem 0.85rem;
        background-repeat: no-repeat;
    }
    .list{
        height:1.84rem;
        width:100%;
        background-image: url(../img/shujia/25.png);
        background-size:7rem 1.84rem;
        background-repeat:no-repeat;
    }
    .list:nth-child(4){
        height:1.76rem;
    }
    
}
.clavierl{
        width:7.5rem;
        height:4.28rem;
        position:fixed;
        bottom:0;
        left:0;
        background:url(../img/shujia/26.png);
        background-repeat:no-repeat;
        background-size:7.5rem 4.28rem;
        
    }
    a{
        display:block;
        width:100%;
        height:100%
    }
}