@import "../../../../../base";

.top{
    height: 1rem;
    width: 100%;
    background: #29a6dc;
    .circle1{
        width: 0.44rem;
        height: 0.44rem;
        border:0.02rem solid #076CBE;
        border-radius:50%;
        background:#fff;
        @include tb;
        right:0.25rem;  
        .search{
            @include center;
            width: 0.25rem;
            height: 0.22rem;
            background:#fff url($img-url+'search.png') no-repeat;
            background-size:cover;
        }
    }
    .top-content{
        @include center;
        width: 5.75rem;
        height: 0.84rem;
        border-radius: 0.42rem;
        background: #293340;
        padding-left: 1px;
        .top-lis{
            width: 33.33333%;
            float: left;
            height: 100%;
            .cir{
                @include center;
                width:1.65rem;
                height: 0.7rem;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    h1{
                        @include lr;
                        text-align: center;
                        font-size: 0.24rem;
                        color: #FFFFFF;
                        margin-top:0.13rem;
                        }
                    span{
                        @include lr;
                        color: #FFFFFF;
                        font-size: 0.14rem;
                        font-weight: 200;
                        text-align: center;
                        text-transform: uppercase;
                        bottom: 0;
                    }
                }
                
            } 
        }
        .top-xian1{
            height:0.57rem;
            width: 1px;
            position: relative;
            float: left;
            background: #C4C4C4;
            @include tb;
            left:33%;
            .cir1{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top:-2px;
                left:-1px;
                background: #EFEFEF;
            }
            .cir2{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                bottom:-2px;
                left:-1px;
                background: #EFEFEF;
            }
        }
        .top-xian2{
            height:0.57rem;
            width: 1px;
            position: relative;
            float: left;
            background: #C4C4C4;
            @include tb;
            right:33%;
            .cir1{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top:-2px;
                left:-1px;
                background: #EFEFEF;
            }
            .cir2{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                bottom:-2px;
                left:-1px;
                background: #EFEFEF;
            }
        }
    }
}
.foot{
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 20;
    background:url($img-url+"bg5.png");
    background-size: cover;
    .foot-lis{
        width: 33.33333%;
        height: 100%;
        border-right: 1px solid #717171;
        float: left;
        i{
            display: block;
            width: 0.45rem;
            height: 0.45rem;
            margin: 0 auto;
            margin-top: 0.1rem;
        }
        span{
            display: block;
            font-size: 0.24rem;
            color: #646567;
            margin: 0 auto;
            text-align: center;
        }
    }
    .foot-lis:nth-child(3){
        border: none;
    }
    .foot-lis:nth-child(1) i{
        background:url($img-url+"icon3.png");
        background-position:0 0;
        background-size: cover;
    }
    .foot-lis:nth-child(2) i{
       background:url($img-url+"icon3.png");
        background-position:- 1.05rem 0;
       background-size: cover;
    }
    .foot-lis:nth-child(2) span{
       color: #FFFFFF;
    }
    .foot-lis:nth-child(3) i{
        background:url($img-url+"icon3.png");
         background-position:- 0.5rem 0;
        background-size: cover;
    }
}
.wangluo{
    h1{
        position: relative;
        width: 100%;
        height: 0.6rem;
        background:url($img-url+"bg3.png") ;
        background-size: cover;
        padding-left: 0.9rem;
        font-size: 0.22rem;
        color: #FFFFFF;
        line-height: 0.6rem;
        box-shadow: 0 3px 15px rgba(0,0,0,0.2);
        span{
            display: inline-block;
            width: 0.38rem;
            height: 0.28rem;
            left:0.4rem;
            background: url($img-url+"icon2.png");
            background-size: cover;
            @include tb;
        }
    }
    .girl{
            margin-bottom: 0.47rem;
        h2{
            height: 0.65rem;
            line-height: 0.65rem;
            font-size: 0.28rem;
            color:#29a6dc;
            padding-left: 0.4rem;
            margin-top: 0.1rem;
        }
        .fenge{
            width: 6.1rem;
            margin: 0 auto;
            border: 1px dotted #dddddd;
        }
        ul{
            height: 2px;
            box-shadow: 0 0.6rem 0.6rem rgba(128, 127, 127, 0.07);
            overflow: hidden;
            height: 1.28rem;
            padding: 0 0.33rem;
            li{
                width:2.03rem;
                height: 0.88rem;
                float: left;
                margin: 0 0.125rem;
                margin-top:0.4rem;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 0.88rem;
                    text-align: center;
                    font-size: 0.32rem;
                    color: #FFFFFF;
                }
            }
            li:nth-of-type(2n+1){
                background: url($img-url+"bg4.png");
                background-size: cover;
            }
            li:nth-of-type(2n){
                background: url($img-url+"bg-4.png");
                background-size: cover;
            }
        }
    }
}
