@charset "UTF-8";
html {
  font-size: 100px; }

body {
  font-size: 16px;
  font-family: '苹方'; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  box-sizing: border-box; }

img {
  border: none; }

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
.fenlei .top {
  height: 1rem;
  width: 100%;
  background: #29a6dc; }
  .fenlei .top .circle1 {
    width: 0.44rem;
    height: 0.44rem;
    border: 0.02rem solid #076CBE;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0.25rem; }
    .fenlei .top .circle1 a {
      display: block;
      width: 100%;
      height: 100%; }
      .fenlei .top .circle1 a .search {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 0.25rem;
        height: 0.22rem;
        background: #fff url("../img/search.png") no-repeat;
        background-size: cover; }
  .fenlei .top .top-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 5.75rem;
    height: 0.84rem;
    border-radius: 0.42rem;
    background: #293340;
    padding-left: 1px; }
    .fenlei .top .top-content .top-lis {
      width: 33.33333%;
      float: left;
      height: 100%; }
      .fenlei .top .top-content .top-lis .cir {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 1.65rem;
        height: 0.7rem; }
        .fenlei .top .top-content .top-lis .cir a {
          display: block;
          width: 100%;
          height: 100%; }
          .fenlei .top .top-content .top-lis .cir a h1 {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            font-size: 0.24rem;
            color: #FFFFFF;
            margin-top: 0.13rem; }
          .fenlei .top .top-content .top-lis .cir a span {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            color: #FFFFFF;
            font-size: 0.14rem;
            font-weight: 200;
            text-align: center;
            text-transform: uppercase;
            bottom: 0; }
      .fenlei .top .top-content .top-lis .thirdcir {
        background: url("../img/bg2.png");
        background-size: cover; }
    .fenlei .top .top-content .top-xian1 {
      height: 0.57rem;
      width: 1px;
      position: relative;
      float: left;
      background: #C4C4C4;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 33%; }
      .fenlei .top .top-content .top-xian1 .cir1 {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        top: -2px;
        left: -1px;
        background: #EFEFEF; }
      .fenlei .top .top-content .top-xian1 .cir2 {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        bottom: -2px;
        left: -1px;
        background: #EFEFEF; }
    .fenlei .top .top-content .top-xian2 {
      height: 0.57rem;
      width: 1px;
      position: relative;
      float: left;
      background: #C4C4C4;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 33%; }
      .fenlei .top .top-content .top-xian2 .cir1 {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        top: -2px;
        left: -1px;
        background: #EFEFEF; }
      .fenlei .top .top-content .top-xian2 .cir2 {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        bottom: -2px;
        left: -1px;
        background: #EFEFEF; }

.fenlei .foot-shucheng {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  background: url("../img/bg5.png");
  background-size: cover; }
  .fenlei .foot-shucheng .foot-lis {
    width: 33.33333%;
    height: 100%;
    border-right: 1px solid #717171;
    float: left; }
    .fenlei .foot-shucheng .foot-lis a {
      display: block;
      width: 100%;
      height: 100%; }
      .fenlei .foot-shucheng .foot-lis a i {
        display: block;
        width: 0.45rem;
        height: 0.45rem;
        margin: 0 auto;
        margin-top: 0.1rem; }
      .fenlei .foot-shucheng .foot-lis a span {
        display: block;
        font-size: 0.24rem;
        color: #646567;
        margin: 0 auto;
        text-align: center; }
  .fenlei .foot-shucheng .foot-lis:nth-child(3) {
    border: none; }
  .fenlei .foot-shucheng .foot-lis:nth-child(1) i {
    background: url("../img/icon3.png");
    background-position: 0 0;
    background-size: cover; }
  .fenlei .foot-shucheng .foot-lis:nth-child(2) i {
    background: url("../img/icon3.png");
    background-position: -1.05rem 0;
    background-size: cover; }
  .fenlei .foot-shucheng .foot-lis:nth-child(2) span {
    color: #FFFFFF; }
  .fenlei .foot-shucheng .foot-lis:nth-child(3) i {
    background: url("../img/icon3.png");
    background-position: -0.5rem 0;
    background-size: cover; }

.fenlei .fenlei1 {
  margin-bottom: 1rem; }

.fenlei .wangluo h1 {
  position: relative;
  width: 100%;
  height: 0.6rem;
  background: url("../img/bg3.png");
  background-size: cover;
  padding-left: 0.9rem;
  font-size: 0.22rem;
  color: #FFFFFF;
  line-height: 0.6rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); }
  .fenlei .wangluo h1 span {
    display: inline-block;
    width: 0.38rem;
    height: 0.28rem;
    left: 0.4rem;
    background: url("../img/icon2.png");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.fenlei .wangluo .girl {
  margin-bottom: 0.47rem; }
  .fenlei .wangluo .girl h2 {
    height: 0.65rem;
    line-height: 0.65rem;
    font-size: 0.28rem;
    color: #29a6dc;
    padding-left: 0.4rem;
    margin-top: 0.1rem; }
  .fenlei .wangluo .girl .fenge {
    width: 6.1rem;
    margin: 0 auto;
    border: 1px dotted #dddddd; }
  .fenlei .wangluo .girl ul {
    height: 2px;
    box-shadow: 0 0.6rem 0.6rem rgba(128, 127, 127, 0.07);
    overflow: hidden;
    height: 1.28rem;
    padding: 0 0.33rem; }
    .fenlei .wangluo .girl ul li {
      width: 2.03rem;
      height: 0.88rem;
      float: left;
      margin: 0 0.125rem;
      margin-top: 0.4rem; }
      .fenlei .wangluo .girl ul li a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 0.88rem;
        text-align: center;
        font-size: 0.32rem;
        color: #FFFFFF; }
    .fenlei .wangluo .girl ul li:nth-of-type(2n+1) {
      background: url("../img/bg4.png");
      background-size: cover; }
    .fenlei .wangluo .girl ul li:nth-of-type(2n) {
      background: url("../img/bg-4.png");
      background-size: cover; }
