@import "../../../../../base";
.bangdan{
  .top{
    height: 1rem;
    width: 100%;
    background: #29a6dc;
     .circle1{
        width: 0.44rem;
        height: 0.44rem;
        border:0.02rem solid #076CBE;
        border-radius:50%;
        background:#fff;
        @include tb;
        right:0.25rem;  
        a{
            display: block;
            width: 100%;
            height: 100%;
            .search{
                @include center;
                width: 0.25rem;
                height: 0.22rem;
                background:#fff url($img-url+'search.png') no-repeat;
                background-size:cover;
            }
        }
        
    }
    .top-content{
        @include center;
        width: 5.75rem;
        height: 0.84rem;
        border-radius: 0.42rem;
        background: #293340;
        padding-left: 1px;
        .top-lis{
            width: 33.33333%;
            float: left;
            height: 100%;
            .cir{
                @include center;
                width:1.65rem;
                height: 0.7rem;
                a{
                        display: block;
                        width: 100%;
                        height: 100%;
                    h1{
                        @include lr;
                        text-align: center;
                        font-size: 0.24rem;
                        color: #FFFFFF;
                        margin-top:0.13rem;
                    }
                    span{
                        @include lr;
                        color: #FFFFFF;
                        font-size: 0.14rem;
                        font-weight: 200;
                        text-align: center;
                        text-transform: uppercase;
                        bottom: 0;
                    }
                }
            } 
            .secondcir{
                background: url($img-url+"bg2.png");
                background-size: cover;
            }
        }
        .top-xian1{
            height:0.57rem;
            width: 1px;
            position: relative;
            float: left;
            background: #C4C4C4;
            @include tb;
            left:33%;
            .cir1{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top:-2px;
                left:-1px;
                background: #EFEFEF;
            }
            .cir2{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                bottom:-2px;
                left:-1px;
                background: #EFEFEF;
            }
        }
        .top-xian2{
            height:0.57rem;
            width: 1px;
            position: relative;
            float: left;
            background: #C4C4C4;
            @include tb;
            right:33%;
            .cir1{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top:-2px;
                left:-1px;
                background: #EFEFEF;
            }
            .cir2{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                bottom:-2px;
                left:-1px;
                background: #EFEFEF;
            }
        }
    }
}
.foot-shucheng{
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 20;
    background:url($img-url+"bg5.png");
    background-size: cover;
    .foot-lis{
        width: 33.33333%;
        height: 100%;
        border-right: 1px solid #717171;
        float: left;
        a{
           display: block;
           width: 100%;
           height: 100%;
            i{
                display: block;
                width: 0.45rem;
                height: 0.45rem;
                margin: 0 auto;
                margin-top: 0.1rem;
            }
            span{
                display: block;
                font-size: 0.24rem;
                color: #646567;
                margin: 0 auto;
                text-align: center;
            }
        }
        
    }
    .foot-lis:nth-child(3){
        border: none;
    }
    .foot-lis:nth-child(1) i{
        background:url($img-url+"icon3.png");
        background-position:0 0;
        background-size: cover;
    }
    .foot-lis:nth-child(2) i{
       background:url($img-url+"icon3.png");
        background-position:- 1.05rem 0;
       background-size: cover;
    }
    .foot-lis:nth-child(2) span{
       color: #FFFFFF;
    }
    .foot-lis:nth-child(3) i{
        background:url($img-url+"icon3.png");
         background-position:- 0.5rem 0;
        background-size: cover;
    }
}
.bang-lis{
    width: 100%;
    height: 2.7rem;
    background:url($img-url+"/bg1.png");
    margin-bottom: 0.16rem;
    overflow: hidden;
    .bang-con{
        width: 7rem;
        margin: 0 auto;
        .bang-left{
            width: 50%;
            text-align: center;
            float: left;
            padding: {
                top:0.5rem;
                bottom: 0.5rem;
            };
            h1{
                font-size: 0.28rem;
                color:#FFFFFF;
                height: 0.28rem;
                line-height: 0.28rem;
            }
            span{
                display: inline-block;
                height:0.12rem;
                line-height: 0.12rem;
                font-size:0.12rem;
                color: #FFFFFF;
                text-transform: uppercase;
            }
            em{
                display: block;
                width: 0.25rem;
                height: 0.25rem;
                background: url($img-url+"icon.png");
                background-size: cover;
                margin: 0 auto;
            }
            p{
                font-size: 0.18rem;
                color: #FFFFFF;
                font-weight: 200;
            }
        }
        .bang-right{
            width: 50%;
            float: left;
            padding: 0.5rem 0;
            div{
                margin: 0.2rem 0;
                width: 100%;
                position: relative;
                font-size: 0.22rem;
                color: #FFFFFF;
                padding-left: 1rem;
                font-weight: 200;
                span{
                   position: absolute;
                   left:0.2rem;
                   @include tb;
                   display: inline-block;
                   width: 0.5rem;
                   height: 0.2rem;
                   background: url($img-url+"top2.png"); 
                   background-size: cover;
                }
            }
            div:nth-child(2) span{
                   position: absolute;
                   left:0rem;
                   @include tb;
                   display: inline-block;
                   width: 0.8rem;
                   height: 0.35rem;
                   background: url($img-url+"top1.png"); 
                   background-size: cover;
            }
             div:nth-child(3) span{
                   background: url($img-url+"top3.png"); 
                   background-size: cover;
            }
        }
    }
}

}
